doctype html
html(lang='en')
	head
		title= title
		link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap', rel='stylesheet')
		link(rel='stylesheet', href='/static/stylesheets/style.css')
	body
		header
			h1.center Library Book Database
		block content