doctype html
html(lang='en')
	head
		title= title
		link(href='https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap', rel='stylesheet')
		link(rel='stylesheet', href='/static/stylesheets/style.css')
		//- Icon for GitHub ribbon
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
	body
		//- Github ribbon
		.github-ribbon
			a(href='https://github.com/nickhericks/techdegree-project-1', target='_blank')
				i.fab.fa-github
				span View on GitHub
		header
			h1.center Library Book Database
		block content